:root{
  --default-bg: #fff;
  --varient-bg-1: #EBEBEB;
  --varient-bg-2: #D7D7D7;
  --primary: #669B7C;
  --primary-two: #557669;
}
body>div {
  display: flex;
  flex-direction: column;
      display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
    align-self: stretch;
    justify-self: stretch;
    flex-grow: 1;
}
ul{
  list-style-type: none;
  padding: 0;
}
#data-visual{
    border: solid 1px #669B7C;
    background-color: #d7d7d7;
  }
body.dark {
    --default-bg: #282c2b;
    --varient-bg-1: #323736;
    --varient-bg-2: #2c3432;
    --primary: #669B7C;
    --primary-two: #557669;
    color: #EBEBEB;
  .check-switch:has(.active){
    background-color: #297d69;
  }.check-switch:has(.active) span{
    background-color: white;
  }
  #data-visual{
    background-color: #323736;
    border-color: #557669;
  }
  #dashboard div summary .category{
    border: #1e6c59 solid 1px;
    background-color: #297d6924;
    background: linear-gradient(45deg, #297d6947, transparent);
    color: #d7d7d7;
  }
  #dashboard div summary{
    background-color: #313b38;
  }
  #dashboard div summary .category:hover {
    background:#1e6c59}
  #graph-popup{

    background-color: #28605454; color:#c2c2c2 ;}
}
#graph-container{
  position: relative;
  max-width: 600px;
  flex-shrink: 0;
  flex-grow: 1;
}
#graph-popup.active{
    visibility: visible;
  }
#graph-popup{
  visibility: hidden;
  display: flex;
  color:#5f5f5f;
  flex-flow: column nowrap;
  position: absolute;
  background-color: #ffffff4f;
  width: 164px;
  border: 1px solid #51886f;
  padding: 6px;
  }
#graph-popup .prod-name{
  font-size: 14px;
  margin: 0;
}
#graph-popup .prod-des{
  font-size: 12px;
  margin: 6px 0;
  text-align: justify;
  letter-spacing: 0.5px;
}
#graph-popup .col{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
#graph-popup .col div p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}
#graph-popup .col div span{
  margin-left: 6px;
}
  @supports (backdrop-filter: blur(3px)){
    #graph-popup{backdrop-filter: blur(3px)}
  }
body{
  box-sizing: border-box;
  padding: 0;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif
}
header{
  background-color: var(--varient-bg-1);
  padding: 12px;
}
#side-section-container{
  background-color: var(--varient-bg-2);
}
#main-theme-button{
  display: flex;
  flex-flow: row;
  align-items: center;
}
main{
  padding:24px;
  flex: auto;
  background-color: var(--default-bg);
}
.check-switch{
    cursor: pointer;
    background-color: #323736;
    width: 40px;
    height: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    margin-left: 16px;
  }
  .check-switch span{
    width: 16px;

    height: 16px;
    display: block;
    transform:translateX(2px);
    background-color: white;
    border-radius: 50%;
    transition: transform ease-in-out 300ms ;
  }

.check-switch:has(.active) span{
  transition: transform ease-in-out 300ms ;
    transform:translateX(22.5px);

  }
  #dashboard {
    display: flex;
    flex-flow: row nowrap;
  }
  #dashboard div summary{

    background-color: inherit;
    margin-left: 12px;
    padding: 12px;
    box-sizing: border-box;
    height: 100%;
  }
    #dashboard div summary #categories{
    display: flex;
    gap: 12px;
    flex-flow: wrap row;
  }

  #dashboard div summary .category{
    transition: all 500ms ease-in-out;
    border: #a9a9a9 solid 1px;
    background-color: #297d6924;
    background: linear-gradient(45deg, #c8c8c8, transparent);
    border-radius: 16px;
    padding: 12px;
    flex: 90px 1 1;
    color: #585858;
    cursor: pointer;
  }
  #dashboard div summary .category:hover {
    background:#d5d0e6}
  #dashboard div summary .category h1{
    font-size: 36px;
    margin: 0;
  }
  #dashboard div summary .category small{
    color: #669b7c;
  }
  #dashboard div summary .category p{
    font-size: 22px;
    margin: 0 0 12px 0;
  }